/* Reset body and html margins and padding */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Navbar container */
.navbar-container {
  width: 100%; 
  padding: 10px 0;
  margin-top: 70px;
  box-sizing: border-box; ;
}

/* Navbar styling */
.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
}

/* Nav links styling */
.nav-links {
  display: flex; 
  list-style: none; 
  padding: 0;
  margin: 0; 
  justify-content: left;
  width: 100%; 
}

/* Individual nav link items */
.nav-links li {
  background-color: rgb(250, 250, 15);
  display: flex;
  padding: 13px 25px;
  color: black;
  justify-content: left;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer; 
  padding-right: 150px;
}

/* Styling Font for <a> tags */
.nav-links li a {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
}

/* Hover effect for nav link items */
.nav-links li:hover {
  background-color: black;
  color: white;
}
