/* Reset body and html margins and padding */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

/* Styling for navbar container */
.navbar-container {
  width: 100%; 
  padding: 10px 0;
  margin-top: 70px;
  box-sizing: border-box; ;
}

/* Styling for whole navbar */
.navbar {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: 100%; 
}

/* Nav links styling */
.nav-links {
  display: flex; 
  list-style: none; 
  padding: 0;
  margin: 0; 
  width: 100%;
  justify-content: space-between; 
}

/* Styling for each individual nav link item */
.nav-links li {
  background-color: black;
  padding: 13px 10px;
  color: white;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer; 
  text-align: center;
  flex: 1;
}

.nav-links li:first-child {
  padding-left: 30px;
}

/* Styling Font for <a> tags */
.nav-links li a {
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

/* Hover effect for nav link items */
.nav-links li:hover {
  background-color: yellow;
  color: black;
}
